html
  head
    title UserAuth
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='css/bootstrap.min.css')
    link(rel='stylesheet', href='style.css')
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js')
    script(src='js/bootstrap.min.js')
    script(src='js/jQuery.js')
  body
    form(method='POST', action='/register')
      h2 Register
      .alert.alert-danger
      br
      label(for='firstName') Firstname
      input(type='text', name='firstname')
      br
      label(for='lastname') Lastname
      input(type='text', name='lastname')
      br
      label(for='email') Email
      input(type='email', name='email')
      br
      label(for='tin') Tin
      input(type='number', name='tin')
      br
      label(for='phone_no') Phone_no
      input(type='text', name='username')
      br
      label(for='password') Password
      input(type='password', name='password')
      br
      label(for='password-confirm') confirm Password
      input(type='password', name='password-confirm')
      br
      input(type='submit', value='register')
      h2 you already have an account please click
      li
        a(href='/login') Login
