html
  head
    title Text Input Control
  body
    form(method='POST', action='/register')
      h2 Sign Up With Your 
      br
      input(type='text', name='firstname', placeholder='Firstname')
      br
      input(type='text', name='lastname', placeholder='Lastname')
      br
      input(type='text', name='email', placeholder='Email')
      br
      input(type='text', name='tin', placeholder='Enter Your tin number')
      br
      input(type='text', name='username', placeholder='phone_no')
      br
      input(type='password', name='password', placeholder='Password')
      br
      input(type='submit', value='sign up')
      br
      h2 you already have an account please click
       a(href='/login') Login
      // br
      // a (href='/login') Login
      
      
      // br
      // li
      //   a(href='/logout') Logout